 .formData{
  max-height: max-content;
  min-height: 350px;
  padding: 8px;
  margin-left: 8px;
  width:500px;  
  border:2px dashed black;
}

.dropItems{
  border:2px solid white;
  text-align: center;
  padding: 5px;
  color: white;
  &:hover{
    cursor: move;
    color: black;
    background-color: white;
  }
}